table.base-converter thead {
  font-size: 1.5em;
}

table.base-converter tbody td {
  width: 10em;
  text-align: center;
  vertical-align: middle;
  word-break: break-word;
}

table.base-converter tbody td div {
  font-size: 1.25em;
  word-break: break-word;
}

table.base-converter tbody td input{
  width: 10em;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.25em;
}

table.base-converter tbody td p{
  padding: .25em;
  text-decoration: none;
  text-transform: uppercase;
}

table.base-converter tbody td p:hover{
  cursor: pointer; 
}

table.base-converter tbody td p:not(.is-active):hover{
  background-color: #eeeeee;
}

table tbody td .is-active {
  background-color: #444444;
  box-shadow: 0 .25em .25em #cccccc;
  border-radius: .25em;
  color: white;
}

table tbody td :active{
  box-shadow: none;
  top: .5em;
}
