.panel {
  padding: .8em 0;
}

.panel-heading{
  display: inline-block;
  position: relative;
  cursor: pointer;
  background-color: #444444;
  box-shadow: 0 .5em .25em #cccccc;
  border-radius: .75em;
  color: white;
  padding: .1em 1em;
  text-decoration: none;
  text-transform: uppercase;
}

.panel-heading h4 {
  margin: .5em;
}

.panel-heading:hover {
  background-color: #333333;
}

.panel-heading:active {
  box-shadow: none;
  top: .5em;
}

.panel-heading:after{
  content: "";
  display: table;
  clear: both;
}

.panel-body {
  display: none;
}

.panel-body.is-expanded {
  display: block;
}
