.solution{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
} 

.solution .selection {
  display: flex;
  flex-direction: row;
}

.solution .selection .selection-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  list-style: none;
  flex-grow: 4;
}

.selection-container li {
  background-color: deepskyblue;
  flex-grow: 1;
  text-align: center;
  align-self: center;
  margin: 0 .5em;
  background-color: #eeeeee;
  color: #444444;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: .25em;
  box-shadow: 0 .25em .25em #cccccc;
}

.selection-container li:hover {
  cursor: pointer;
}

.selection-container li:active {
  box-shadow: none;

  user-select: none;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

#lang-local-js:active{
  background-color: #F06D26;
  color: white;
}

#lang-local-js.is-active {
  background-color: #F58B28;
  color: white;
}

#lang-go:active{
  background-color: #95C0EE;
  color: white;
}

#lang-go.is-active {
  background-color: #1869DB;
  color: white;
}

#lang-java:active{
  background-color: #DF0016;
  color: white;
}

#lang-java.is-active {
  background-color: #BF001E;
  color: white;
}

#lang-js:active{
  background-color: #36382E;
  color: white;
}

#lang-js.is-active {
  background-color: #80BC31;
  color: white;
}

#lang-python:active{
  background-color: #171E26;
  color: #FED64A;
}

#lang-python.is-active {
  background-color: #2D6093;
  color: #FED64A;
}

#iaas-aws:active {
  background-color: #DD6705;
  color: #FFFFFF;
}

#iaas-aws.is-active {
  background-color: #FD8705;
  color: #FFFFFF;
}

#iaas-azure:active {
  background-color: #0C61C9;
  color: white;
}

#iaas-azure.is-active {
  background-color: #0C31A9;
  color: white;
}

#iaas-gcp:active {
  background-color: #DA2B29;
  color: #FFFFFF;
}

#iaas-gcp.is-active {
  background-color: #DA2B29;
  color: #FFFFFF;
}

#iaas-vsphere:active {

  background-color: #51952B;
  color: #626565;
}

#iaas-vsphere.is-active {
  background-color: #51952B;
  color: #F2F5F5;
}

.input-wrap {
  width: 100%;
  display: grid;
  font-family: Avenir;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}

.input {
  position: relative;
  width: 100%;
}
.input .label {
  position: absolute;
  top: 10px;
  left: 0;
  color: #9098a9;
  font-weight: 500;
  transform-origin: 0 0;
  transition: all 0.2s ease;
}
.input .border {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: #07f;
  transform: scaleX(0);
  transform-origin: 0 0;
  transition: all 0.15s ease;
}
.input input {
  -webkit-appearance: none;
  width: 100%;
  border: 0;
  font-family: inherit;
  padding: 4px 0;
  height: 48px;
  font-size: 18px;
  font-weight: 500;
  border-bottom: 2px solid #c8ccd4;
  background: none;
  border-radius: 0;
  color: #223254;
  transition: all 0.15s ease;
}
.input input:hover {
  background: rgba(34,50,84,0.03);
}
.input input:not(:placeholder-shown) + span {
  color: #5a667f;
  transform: translateY(-26px) scale(0.75);
}
.input input:focus {
  background: none;
  outline: none;
}
.input input:focus + span {
  color: #07f;
  transform: translateY(-26px) scale(0.75);
}
.input input:focus + span + .border {
  transform: scaleX(1);
}

